body{
    margin-top: 0;
    margin-left: 0;
}
.main-dstruyen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.main-dstruyen-truyen>img{
    width: 13rem;
    height: 18rem;
}
.main-dstruyen-tentruyen-span{
    position: absolute;
    background-color: black;
    color: white;
    visibility: hidden;
}
.main-dstruyen-tentruyen-ten{
    width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-dstruyen:hover .main-dstruyen-tentruyen-span{
    visibility: visible;
}