body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
/* PHAN HEADER*/
header{
    background-color:#00cec9;
    font-family: 'Secular One', sans-serif;
    display: flex;
    height:7rem;
}
.img-logo{
    height: 3rem;
    width: 3rem;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.div-namepage{
    line-height: 7rem;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
}
.menu-bar{
    margin-left: 5rem;
    line-height: 7rem;
}
.menu-bar-btn{
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
.menu-bar-btn:hover{
    color: #025252;
}
.search-bar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;
    border-radius: 14px;
    background: #f3e9e9;
    height: 30px;
    box-sizing: border-box;
}
.search-btn{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    border-left: 1px #c3c3c3 solid;
}
.search-btn-input{
    background: none;
    outline: none;
    border: none;    
    color:#386570;
    margin-left: 8px;
}
.account-bar{
    margin-left: 1rem;
    line-height: 7rem;
}
.account-bar-btn{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
/*PHAN MAIN*/
main{
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Secular One', sans-serif;
    font-size: 1.4vw;
}
/*PHAN FOOTER*/
footer{
    margin-top: 5rem;
    border-top: 1px solid #c3c3c3;
    height: 15vw;
}
.footer-lienhe{
    display: flex;
    margin-left: 42.5vw;
    margin-right: 42.5vw;
    width: 15vw;
    justify-content: space-between;
}
.footer-lienhe-btn{
    margin-top: 1rem;
    color: #00cec9;
    font-size: 2rem;
    position: relative;
}
.footer-lienhe-btn-tooltip{
    top: 100%;
    left: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    position: absolute;
    background-color: #57d8eb;
    text-align: center;
    line-height: 1.5rem;
    color: black;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
}
.footer-lienhe-btn:hover{    
    color:  #025252;     
}
.footer-lienhe-btn:hover .footer-lienhe-btn-tooltip{
    visibility: visible;   
}
.footer-menu{
    display: flex;
    margin-top: 2rem;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
}
.footer-menu-btn{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 10vw;
    border-right: 2px#c3c3c3 solid ;
}
.footer-menu-btn-special{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 17vw;
}
.footer-menu-btn:hover{
    color:  #33c8f5;
}
.footer-menu-btn-special:hover{
    color:  #33c8f5;
}
.footer-banquyen{
    font-family: 'Patrick Hand', cursive;
    font-size: 12px;
    color: #c3c3c3;
    margin-top: 2rem;
    margin-right: 41vw;
    margin-left: 41vw;
    cursor: context-menu;
}