body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
/*PHAN HEADER*/
header{
    background-color:#00cec9;
    font-family: 'Secular One', sans-serif;
    display: flex;
    height:7rem;
}
.img-logo{
    height: 3rem;
    width: 3rem;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.div-namepage{
    line-height: 7rem;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
}
.menu-bar{
    margin-left: 5rem;
    line-height: 7rem;
}
.menu-bar-btn{
    margin-left: 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
.menu-bar-btn:hover{
    color: #025252;
}
.search-bar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5rem;
    border-radius: 14px;
    background: #f3e9e9;
    height: 30px;
    box-sizing: border-box;
}
.search-btn{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    border-left: 1px #c3c3c3 solid;
}
.search-btn-input{
    background: none;
    outline: none;
    border: none;    
    color:#386570;
    margin-left: 8px;
}
.account-bar{
    margin-left: 2rem;
    line-height: 7rem;
}
.account-bar-btn{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
/*PHAN MAIN*/
main{    
    width: 100%;
}
.main-duongdan{
    font-size: 1.25rem;
    color:rgb(240, 140, 140);
    font-weight: 700;
    margin: 5px 5px;
}
.main-duongdan>a{
    text-decoration: none;
    color: red;
}
.main-duongdan>a:hover{
    color: black;
}
.main-header{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2rem;
}
.main-header-tentruyen{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #1c7878;
    text-align: center;
}
.main-header-chuong{
    font-size: 20px;
    color: #1c7878;
    text-align: center;
}
#navbar{
    margin-top: 2rem;
    margin-left: 25vw;
}
#btn-truoc, #btn-sau{
    box-sizing: border-box;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color:#38908f;
    color: white;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#btn-truoc:hover, #btn-sau:hover{
    background-color: #adddce;
    color:#38908f;
}
.dropdown-container{
    position: relative;
    display: inline-block;
}
.content-dschuong{
    width: 6rem;
    position: absolute;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #adddce;
    left: 8px;
    visibility: hidden;
}
.dropdown-container:hover .content-dschuong{
    visibility: visible;
}
.dropdown-btn{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5px;
}
.dropdown-btn:hover{
    background-color: #38908f;
}
#select-chapter{
    height: 2rem;
    line-height: 2rem;
    outline: none;
    border: none;
    background-color:#38908f;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}
#select-chapter:hover{
    background-color: #adddce;
    color:#38908f;
}
#select-chapter *{
    border-radius: 15px;
}

.sticky{
    top: 0;
    position: fixed;
    width: 80%;
    background-color: #dff9fb;
    text-align: center;
}
#upload-image{
    margin: auto auto;
    width: 60vw;
    margin-top: 5vw;
    padding-top: 4px;
    text-align: center;
    clear: both;
}
.phancach{
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    height: 3vw;
    border-bottom: 1px solid #c3c3c3;
}
img{
    margin-top: -4px;
    height: 66vw;
    width: 47vw;
}
textarea{
    border: none;
    outline: none;
    overflow: hidden;
    margin: auto 10vw;
    resize: none; 
    max-width: 100%;
    width: 78.5vw;
    font-size: 2rem;
    height: 345vw;
    max-height: 600vw;
}
/*PHAN FOOTER*/
footer{
    margin-top: 5rem;
    border-top: 1px solid #c3c3c3;
    height: 15vw;
}
.footer-lienhe{
    display: flex;
    margin-left: 42.5vw;
    margin-right: 42.5vw;
    width: 15vw;
    justify-content: space-between;
}
.footer-lienhe-btn{
    margin-top: 1rem;
    color: #00cec9;
    font-size: 2rem;
    position: relative;
}
.footer-lienhe-btn-tooltip{
    top: 100%;
    left: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    position: absolute;
    background-color: #57d8eb;
    text-align: center;
    line-height: 1.5rem;
    color: black;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
}
.footer-lienhe-btn:hover{    
    color:  #025252;     
}
.footer-lienhe-btn:hover .footer-lienhe-btn-tooltip{
    visibility: visible;   
}
.footer-menu{
    display: flex;
    margin-top: 2rem;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
}
.footer-menu-btn{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 10vw;
    border-right: 2px#c3c3c3 solid ;
}
.footer-menu-btn-special{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 17vw;
}
.footer-menu-btn:hover{
    color:  #33c8f5;
}
.footer-menu-btn-special:hover{
    color:  #33c8f5;
}
.footer-banquyen{
    font-family: 'Patrick Hand', cursive;
    font-size: 11.5px;
    color: #c3c3c3;
    margin-top: 2rem;
    margin-right: 41vw;
    margin-left: 41vw;
    cursor: context-menu;
}