body{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
/* PHAN HEADER*/
header{
    background-color:#00cec9;
    font-family: 'Secular One', sans-serif;
    display: flex;
    height:7rem;
}
.img-logo{
    height: 3rem;
    width: 3rem;
    margin-left: 5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.div-namepage{
    line-height: 7rem;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
}
.menu-bar{
    margin-left: 5rem;
    line-height: 7rem;
}
.menu-bar-btn{
    margin-left: 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
.menu-bar-btn:hover{
    color: #025252;
}
.search-bar{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5rem;
    border-radius: 14px;
    background: #f3e9e9;
    height: 30px;
    box-sizing: border-box;
}
.search-btn{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: none;
    border-left: 1px #c3c3c3 solid;
}
.search-btn-input{
    background: none;
    outline: none;
    border: none;    
    color:#386570;
    margin-left: 8px;
}
.account-bar{
    margin-left: 2rem;
    line-height: 7rem;
}
.account-bar-btn{
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: white;
}
/*PHAN MAIN*/
.main-menu-title{
    margin:5px 5px;
    font-size: 25px;
    color: red;
    font-weight: 700;
}
.main-menu{
    display: flex;
    height: 5rem;
    border-bottom: 1px #c3c3c3 solid;
    line-height: 5rem;
}
.main-menu-btn{
    margin-left: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #394747;
    font-family: 'Patrick Hand', cursive;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}
.main-menu-btn:hover{
    color: #0db5b5;
}
.main-menu-theloai{
    font-family: 'Patrick Hand', cursive;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    position: relative;
    color: #394747;
    height: 2rem;
    width: 7rem;
}
.main-menu-theloai-title:hover{
    color:#0db5b5;
}
.main-menu-theloai-content{
    width: 10rem;
    top: -50%;
    left: 90%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #d1e8e8;
    display: flex;
    flex-direction: column;
    font-family: 'Grandstander', cursive; 
    font-size: 16px;
    text-align: center;
    visibility: hidden;
}
.main-menu-theloai-btn{
    color:#394747;
    text-decoration: none;
    height: 1.5rem;
    line-height: 1.5rem;
}
.main-menu-theloai-btn:hover{
    background-color: #9fe3e3;
}
.main-menu-theloai:hover .main-menu-theloai-content{
    visibility: visible;
}
/*Phan danh sach truyen*/
.main-dstruyen{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.main-dstruyen-truyen{     
    position: relative;
    margin-top: 1rem;   
    text-decoration: none;
    overflow: visible;
    width: 20%;
    text-align: center;
}
.main-dstruyen-tentruyen-ten{
    color: black;
    font-family: 'Merriweather', serif;
    cursor: context-menu;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-dstruyen-tentruyen-span{
    position: absolute;
    background: black;    
    left: 2rem;
    z-index: 2;
    width: 1rem;
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    overflow: visible;
    width: auto;
    visibility: hidden;
}
.main-dstruyen-truyen:hover .main-dstruyen-tentruyen-span{
    visibility: visible;
}
.main-dstruyen-truyen-like{
    color: #6494ed;
    margin-top: 1rem;
}
.main-dstruyen-loaitruyen{
    margin-top: 10px;
    color: #023332;
}
.main-dstruyen-truyen>img{
    width: 13rem;
    height: 18rem;
}

.chuyentrang-container{
    margin-top: 3rem;
    margin-left: 40vw;
}
.chuyentrang-btn{
    margin-left: 1rem;
    width: 8rem;
    height: 3rem;
    border: 1px solid #c3c3c3;
    border-radius: 16px;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    font-weight: 600;
    outline: none;
}
.hover:hover{
    background-color:  #57d8eb;
}
/*PHAN FOOTER*/
footer{
    margin-top: 3rem;
    border-top: 1px solid #c3c3c3;
    height: 15vw;
}
.footer-lienhe{
    display: flex;
    margin-left: 42.5vw;
    margin-right: 42.5vw;
    width: 15vw;
    justify-content: space-between;
}
.footer-lienhe-btn{
    margin-top: 1rem;
    color: #00cec9;
    font-size: 2rem;
    position: relative;
}
.footer-lienhe-btn-tooltip{
    top: 100%;
    left: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    position: absolute;
    background-color: #57d8eb;
    text-align: center;
    line-height: 1.5rem;
    color: black;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
}
.footer-lienhe-btn:hover{    
    color:  #025252;     
}
.footer-lienhe-btn:hover .footer-lienhe-btn-tooltip{
    visibility: visible;   
}
.footer-menu{
    display: flex;
    margin-top: 2rem;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
}
.footer-menu-btn{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 10vw;
    border-right: 2px#c3c3c3 solid ;
}
.footer-menu-btn-special{
    text-decoration: none;
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    text-align: center;
    width: 17vw;
}
.footer-menu-btn:hover{
    color:  #33c8f5;
}
.footer-menu-btn-special:hover{
    color:  #33c8f5;
}
.footer-banquyen{
    font-family: 'Patrick Hand', cursive;
    font-size: 12px;
    color: #c3c3c3;
    margin-top: 2rem;
    margin-right: 41vw;
    margin-left: 41vw;
    cursor: context-menu;
}